<ion-header>
  <ion-navbar>
    <ion-title>Фактури</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-searchbar
      [(ngModel)]="myInput"
      [showCancelButton]="true"
    >
    </ion-searchbar>
    <button ion-item *ngFor="let firma of clientNames | filter: myInput" (click)="openFirma(firma)">
      <ion-icon *ngIf="invoices[firma].Dolzi > 0" name="ios-alert" style="color:red;"></ion-icon>
      <ion-icon *ngIf="!getDatum && invoices[firma].Dolzi > 0" name="clock" style="color:blue;"></ion-icon>
      {{ firma }}


    </button>
  </ion-list>
</ion-content>

